body {
    font-size: 0.32rem;
    color: #333333;
    background-color: #dedede !important;
}

.clear_f {
    clear: both;
    overflow: hidden;
    height: 0px;
}

.icon_prove {
    margin-right: 0.03rem;
    display: inline-block;
    width: 0.26rem;
    height: 0.26rem;
    font-size: 0;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url("../img/you_zhengming.png");
}

.authenticate_icon {
  margin-right: 0.03rem;
  display: inline-block;
  width: 0.4rem;
  height: 0.4rem;
  font-size: 0;
  margin-top: -5px;
  vertical-align: middle;;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../img/girl-2.png");
}
.auth_buqueding {
  background-image: url("../img/girl-1.png");
}

.icon_good {
    margin-right: 0.03rem;
    display: inline-block;
    width: 0.3rem;
    height: 0.3rem;
    font-size: 0;
    vertical-align: baseline;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url("../img/you_dianzan.png");
}

.icon_bad {
    margin-right: 0.03rem;
    display: inline-block;
    width: 0.3rem;
    height: 0.3rem;
    font-size: 0;
    vertical-align: top;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url("../img/you_chedan.png");
}

.icon_back {
    margin-right: 0.03rem;
    display: inline-block;
    width: 0.6rem;
    height: 0.6rem;
    font-size: 0;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url("../img/you_fanhui.png");
}

.icon_question {
    margin-right: 0.03rem;
    display: inline-block;
    width: 0.4rem;
    height: 0.4rem;
    font-size: 0;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url("../img/you_wenti.png");
}

.icon_hongbao {
    margin-right: 0.03rem;
    display: inline-block;
    width: 0.3rem;
    height: 0.3rem;
    font-size: 0;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url("../img/you_hongbao.png");
}

.ivm {
    display: inline-block;
    vertical-align: middle;
}

#PAY_loading_wrap {
    position: fixed;
    z-index: 999;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    line-height: 8rem;
    color: #FFF;
    top: 0;
    left: 0;
    text-align: center;
}

#PAY_loading_wrap:hover {
    color: #FFF;
}

.back_wrap {
    margin-bottom: 0.2rem;
    background-color: #FFF;
    height: 0.92rem;
    line-height: 0.92rem;
    border-bottom: 1px solid #dcdcdc;
    font-size: 0.34rem;
}

.back_wrap .head_img {
    width: 0.7rem;
    height: 0.7rem;
    vertical-align: middle;
    margin-left: 0.1rem;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.back_wrap .icon_back {
    margin-left: 0.2rem;
}

.back_wrap .tle {
    margin-left: 0.1rem;
}

.detail_con {
    line-height: 1.3;
    padding: .3rem .2rem;
    background-color: #FFF;
    margin-bottom: 0.2rem;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
}

.detail_con .open_btn {
    background-color: #80818b;
    color: #FFF;
    text-align: center;
    line-height: 0.54rem;
    margin-top: 0.1rem;
}

.detail_con .open_btn:hover {
    color: #FFF;
}

.detail_con .con {
    text-indent: .64rem;
}

.reply_btn {
    color: #FFF;
    text-align: center;
    /*background-color: #48abff;*/
    background-color: #002060;
    width: 6.15rem;
    height: 0.78rem;
    line-height: 0.78rem;
    margin-left: auto;
    margin-right: auto;
    -webkit-border-radius: 0.05rem;
    border-radius: 0.05rem;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}

.reply_btn:hover {
    color: #FFF;
}

.hongbao_wrap {
    float: right;
    font-size: 0.28rem;
    margin-right: 0.3rem;
}

.hongbao_wrap .red_f {
    color: #e71f19;
}

.mt20 {
    margin-top: 0.2rem;
}

.opt_wrap {
    text-align: center;
    font-size: 0;
    padding: .4rem 0;
    color: #999;
    border-top: 1px solid #777;
    margin-top: -0.5px;
}

.opt_wrap > div {
    display: inline-block;
    width: 33%;
    font-size: 0.24rem;
    vertical-align: middle;
}

.opt_wrap .num {
    color: #333;
}

.tip {
    line-height: 5;
    text-align: center;
}

.answer_list_wrap .answer_item {
    background-color: #FFF;
    padding: 0;
    margin-left: .2rem;
    margin-right: .2rem;
    margin-bottom: 0.2rem;
    /*border: 1px solid #777;*/
    box-shadow: 0 0 3px #000;
}

.answer_list_wrap .answer_item .pic_con_wrap {
    padding: .2rem 0.1rem;
    line-height: 0.52rem;
}

.answer_list_wrap .answer_item .pic_con_wrap .head_img {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 0.7rem;
    height: 0.7rem;
    vertical-align: middle;
    margin-right: 0.1rem;
}

.answer_list_wrap .answer_item .pic_con_wrap .see_btn, .ssz-fake-delete, .ssz-auth {
    background-color: #48abff;
    text-align: center;
    color: #FFF;
    float: right;
    line-height: 0.52rem;
    width: 1.5rem;
    padding: 0 .2rem;
    -webkit-border-radius: 0.05rem;
    border-radius: 0.05rem;
}

.answer_list_wrap .answer_item .pic_con_wrap .see_btn:hover {
    color: #FFF;
}

.answer_list_wrap .answer_item .answer_con {
    line-height: 1.3;
}

.answer_list_wrap .answer_item .answer_con .hide_desc {
    background-color: #80818b;
    color: #FFF;
    text-align: center;
    display: inline-block;
    padding: 0 .2rem;
    line-height: 0.52rem;
}

.answer_list_wrap .answer_item .answer_con .hide_desc:hover {
    color: #FFF;
}

.answer_list_wrap .answer_item .answer_con .hide_info {
  margin-top: 0.2rem;
  background: #80818b;
  color: #002060;
}
.ssz-p-1 {
  background: #aaa;
}

.answer_list_wrap .answer_item .answer_con .hide_info .hide_txt {
    margin-bottom: 0.2rem;
    padding: 0;
    margin: 0;
    border: 3px solid #002060;
}

.answer_list_wrap .answer_item .answer_con .hide_info .hide_img_wrap {
    padding: .2rem 0;
    background: #DB9E36;
}

.answer_list_wrap .answer_item .answer_con .hide_info .img_item {
    width: 33.3%;
    box-sizing: border-box;
    overflow: hidden;
    height: auto;
    padding: 0 .05rem;
    -webkit-border-radius: 0.05rem;
    border-radius: 0.05rem;
    display: block;
    float: left;
}

.answer_list_wrap .answer_item .answer_con .hide_info .img_item img {
    width: 100%;
    display: block;
}

.answer_list_wrap .answer_item .other_wrap {
    /*border-top: 1px solid #777;*/
    /*background: #DB9E36;*/
    /*margin-top: 0.2rem;*/
}

.answer_list_wrap .answer_item .other_wrap .other_desc {
    line-height: 1.3;
    margin-bottom: 0.2rem;
    padding: 0 .1rem;
}

.answer_list_wrap .answer_item .other_wrap .other_img_wrap {
    padding: .2rem 0;
}

.answer_list_wrap .answer_item .other_wrap .other_img_wrap .img_item {
    overflow: hidden;
    padding: 0 0.05rem;
    box-sizing: border-box;
    -webkit-border-radius: 0.05rem;
    border-radius: 0.05rem;
    display: inline-block;
}

.answer_list_wrap .answer_item .other_wrap .other_img_wrap .img_item img {
    height: 100%;
    display: block;
}

.reply_wrap {
    padding: .2rem;
    border: 1px solid #dfdfdf;
    margin: .2rem;
}

.reply_wrap h2 {
    font-size: 0.28rem;
    color: #888888;
    line-height: 0.6rem;
    margin-top: 0.2rem;
}

.reply_wrap textarea {
    display: block;
    width: 100%;
    height: 1.5rem;
    font-size: .28rem;
    box-sizing: border-box;
    padding: .1rem;
}

.reply_wrap .hide_con_btn {
    background-color: #5d6081;
    font-size: 0.28rem;
    margin: .2rem 0;
    color: #FFF;
    line-height: 0.48rem;
    width: 1.7rem;
    text-align: center;
}

.reply_wrap .hide_con_btn:hover {
    color: #FFF;
}

.reply_wrap .con_wrap {
    font-size: 0.28rem;
    border: 1px solid #dfdfdf;
    padding: .2rem 0;
}


#qrcode_content {
  background: #80818b;
  color: #002060;
}
#qrcode_content::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #bbb;
}
#qrcode_content:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #bbb;
  opacity:  1;
}
#qrcode_content::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #bbb;
  opacity:  1;
}
#qrcode_content:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #bbb;
}

.reply_wrap .hide_con_wrap.act {
    display: block;
}

.reply_wrap .hide_con_wrap h3 {
    line-height: 2;
    color: #888888;
}

.reply_wrap .hide_upload_wrap .upload_item,
.reply_wrap .other_upload_wrap .upload_item,
.reply_wrap .hide_upload_wrap .upload_btn,
.reply_wrap .other_upload_wrap .upload_btn {
    display: inline-block;
    width: 0.86rem;
    height: 0.86rem;
    margin: .1rem .1rem 0 0;
    overflow: hidden;
    border: 1px solid #dfdfdf;
    -webkit-border-radius: 0.03rem;
    border-radius: 0.03rem;
    text-align: center;
    background-color: #FFF;
}

.reply_wrap .hide_upload_wrap .upload_item,
.reply_wrap .other_upload_wrap .upload_item {
    font-size: 0.24rem;
    line-height: 0.86rem;
    position: relative;
}

.reply_wrap .hide_upload_wrap .upload_item:after,
.reply_wrap .other_upload_wrap .upload_item:after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '—';
    text-align: center;
    line-height: 0.86rem;
    font-size: 0.36rem;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFF;
}

.reply_wrap .hide_upload_wrap .upload_item:after:hover,
.reply_wrap .other_upload_wrap .upload_item:after:hover {
    color: #FFF;
}

.reply_wrap .hide_upload_wrap .upload_item img,
.reply_wrap .other_upload_wrap .upload_item img {
    width: 100%;
    height: 100%;
    display: block;
}

.reply_wrap .hide_upload_wrap .upload_btn,
.reply_wrap .other_upload_wrap .upload_btn {
  position: relative;
  line-height: 0.86rem;
  font-size: .5rem;
  background-image: url(../img/add.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.reply_wrap .hide_upload_wrap .upload_btn input,
.reply_wrap .other_upload_wrap .upload_btn input {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 10rem;
}

.reply_wrap .price_wrap {
    font-size: 0.28rem;
}

.reply_wrap .price_wrap .price_item {
    display: inline-block;
    padding: .1rem .1rem;
    background-color: #FFF;
    margin-right: 0.1rem;
    vertical-align: middle;
    border: 1px solid #dfdfdf;
}

.reply_wrap .price_wrap .price_item.act {
    background: #48abff;
    color: #FFF;
}

.reply_wrap .price_wrap .price_item.act:hover {
    color: #FFF;
}

.reply_wrap .price_wrap .price_custom {
    width: 1.6rem;
    height: 0.52rem;
    vertical-align: middle;
    text-align: center;
    border: 1px solid #dfdfdf;
}

.reply_wrap .price_wrap .price_custom.act {
    border-color: #48abff;
}

.reply_wrap .pub_btn {
    color: #FFF;
    text-align: center;
    background-color: #48abff;
    width: 6.15rem;
    height: 0.78rem;
    line-height: 0.78rem;
    margin-left: auto;
    margin-right: auto;
    -webkit-border-radius: 0.05rem;
    border-radius: 0.05rem;
    margin-top: 0.4rem;
}

.reply_wrap .pub_btn:hover {
    color: #FFF;
}

.main_container .require_flag {
    color: red;
    margin-left: 0.1rem;
}

.ssz-answer-1 {
  padding: 0 .1rem;
}

.ssz-pub-btn {
  color: #FFF;
  text-align: center;
  background-color: #48abff;
  width: 6.15rem;
  height: 0.78rem;
  line-height: 0.78rem;
  margin-left: auto;
  margin-right: auto;
  -webkit-border-radius: 0.05rem;
  border-radius: 0.05rem;
  margin-top: 0.4rem;
}

 .hide_upload_wrap .upload_item,
 .other_upload_wrap .upload_item,
 .hide_upload_wrap .upload_btn,
 .other_upload_wrap .upload_btn {
    display: inline-block;
    width: 0.86rem;
    height: 0.86rem;
    margin: .1rem .1rem 0 0;
    overflow: hidden;
    border: 1px solid #dfdfdf;
    -webkit-border-radius: 0.03rem;
    border-radius: 0.03rem;
    text-align: center;
    background-color: #FFF;
}

 .hide_upload_wrap .upload_item,
 .other_upload_wrap .upload_item {
    font-size: 0.24rem;
    line-height: 0.86rem;
    position: relative;
}

 .hide_upload_wrap .upload_item:after,
 .other_upload_wrap .upload_item:after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '—';
    text-align: center;
    line-height: 0.86rem;
    font-size: 0.36rem;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFF;
}

 .hide_upload_wrap .upload_item:after:hover,
 .other_upload_wrap .upload_item:after:hover {
    color: #FFF;
}

 .hide_upload_wrap .upload_item img,
 .other_upload_wrap .upload_item img {
    width: 100%;
    height: 100%;
    display: block;
}

 .hide_upload_wrap .upload_btn,
 .other_upload_wrap .upload_btn {
    position: relative;
    line-height: 0.86rem;
}

 .hide_upload_wrap .upload_btn input,
 .other_upload_wrap .upload_btn input {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 10rem;
}
#shishi-auth textarea {
  border: 1px solid gray;
}

.answer_con {
  letter-spacing: .5px;
}
